<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Student List</title>
</head>
<body>
<h1>Student list</h1>
<h2>Full name: <span th:text="${student.fullName}"></span></h2>
<h2>Date of birth: <span th:text="${student.dateOfBirth}"></span></h2>
<h2>Gender: <span th:text="${student.gender}"></span></h2>
<h2>Number: <span th:text="${student.number}"></span></h2>
<h2>Place of origin: <span th:text="${student.placeOfOrigin}"></span></h2>
</body>
</html>